<% provide(:title, "Home") %>

  <div class="jumbotron">
    <h1><%= app_name %></h1>
    <p class="lead">Paths for learning web development topics. Curated groups of tutorials for different topics. Find paths made by others or create your own.</p>
    <p>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-lg" %> or
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Feature #1</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>

    <div class="col-lg-6">
      <h4>Feature #2</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>
  </div>
